@default_color: #A0DC66;

.home, .register {
  background-color: @default_color;
  color: #fff;
  position: relative;
  .title {
    height: 20%;
    line-height: 200%;
    text-align: center;
    transform: scale(.8, 1);
    font-size: .7rem;
  }
  .warning {
    width: 80%;
    margin: -2% auto 5%;
    color: red;
    font-size: .3rem;
    height: .3rem;
    text-align: center;
  }
  .login_success {
    color: greenyellow;
  }
  .login_input {
    width: 80%;
    margin: 0 auto;
    border-radius: .15rem;
    background-color: #fff;
    .input_cell {
      position: relative;
      height: .5rem;
      font-size: .2rem;
      line-height: .5rem;
      color: #aaa;
      .v_code {
        position: absolute;
        right: 0;
        top: .2rem;
        display: inline-block;
        width: .9rem;
        font-size: .18rem;
        height: .3rem;
        line-height: .3rem;
        color: @default_color;
        padding: 0 3%;
        border-left: .01rem solid @default_color;
        text-align: center;
      }
    }
    .input_cell_top {
      border-bottom: .01rem solid #ccc;
    }
  }
  .agree {
    width: 80%;
    height: 10%;
    margin: 0 auto;
    input {
      display: inline-block;
      width: .2rem;
      height: .2rem;
      margin: 0;
      border-radius: 50%;
      vertical-align: top;
      margin-top: .15rem;
    }
    label {
      margin-left: -.2rem;
      font-size: .12rem;
      width: 80%;
      text-align: left;
      vertical-align: top;
      a {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
  .login_btn {
    margin: 5% auto 0;
    display: block;
    width: 80%;
    border-radius: 1rem;
    border: none;
    background-color: #fff;
    color: @default_color;
    font-size: .2rem;
    font-weight: 500;
    font-family: "Microsoft YaHei";
  }
  .reg {
    font-size: .15rem;
    color: #fff;
    float: right;
    margin: 1% 10% 0 0;
  }
  .patient_app {
    width: 100%;
    font-size: .15rem;
    text-align: center;
    position: absolute;
    bottom: 3%;
    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.agreement {
  background-color: @default_color;
  color: #fff;
  h1 {
    text-align: center;
    font-size: .5rem;
    line-height: .9rem;
  }
  p {
    font-size: .2rem;
    line-height: .4rem;
  }
  a {
    display: inline-block;
    font-size: .3rem;
    line-height: .5rem;
    width: 80%;
    height: .5rem;
    background-color: #fff;
    text-align: center;
    color: @default_color;
    border-radius: .25rem;
    margin-left: 10%;
    position: relative;
    top: -.4rem;
  }
}
